<p class="notice"><%= notice %></p>

<div class="universidade-container">
  <%= render @universidade %>

  <div class="action-buttons">
    <%= link_to "Editar Universidade", edit_universidade_path(@universidade), class: "btn btn-edit" %>
    <%= link_to "Voltar", universidades_path, class: "btn btn-back" %>

    <%= button_to "Excluir Universidade", @universidade, method: :delete, class: "btn btn-danger" %>
  </div>
</div>


