<div id="<%= dom_id secao %>">
  <p>
    <strong>Ano:</strong>
    <%= secao.ano %>
  </p>

  <p>
    <strong>Num sala:</strong>
    <%= secao.num_sala %>
  </p>

  <p>
    <strong>Curso:</strong>
    <%= secao.curso_id %>
  </p>

  <p>
    <strong>Periodo:</strong>
    <%= secao.periodo_id %>
  </p>

</div>
