<p class="notice"><%= notice %></p>

<div class="aluno-container">
  <%= render @secao %>

  <div class="action-buttons">
    <%= link_to "Editar", edit_secao_path(@secao), class: "btn btn-edit" %>
    <%= link_to "Voltar", secaos_path, class: "btn btn-back" %>

    <%= button_to "Excluir", @secao, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
