<%= form_with(model: ministra) do |form| %>
  <% if ministra.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ministra.errors.count, "error") %> prohibited this ministra from being saved:</h2>

      <ul>
        <% ministra.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :semestre, style: "display: block" %>
    <%= form.number_field :semestre %>
  </div>

  <div>
    <%= form.label :ano, style: "display: block" %>
    <%= form.number_field :ano %>
  </div>

  <div>
    <%= form.label :curso_id, style: "display: block" %>
    <%= form.text_field :curso_id %>
  </div>

  <div>
    <%= form.label :secao_id, style: "display: block" %>
    <%= form.text_field :secao_id %>
  </div>

  <div>
    <%= form.label :instrutor_id, style: "display: block" %>
    <%= form.text_field :instrutor_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
