<div id="<%= dom_id ministra %>">
  <p>
    <strong>Semestre:</strong>
    <%= ministra.semestre %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= ministra.ano %>
  </p>

  <p>
    <strong>Curso:</strong>
    <%= ministra.curso_id %>
  </p>

  <p>
    <strong>Secao:</strong>
    <%= ministra.secao_id %>
  </p>

  <p>
    <strong>Instrutor:</strong>
    <%= ministra.instrutor_id %>
  </p>

</div>
