<p class="notice"><%= notice %></p>

<div class="aluno-container">
  <%= render @departamento %>

  <div class="action-buttons">
    <%= link_to "Editar", edit_departamento_path(@departamento), class: "btn btn-edit" %> |
    <%= link_to "Voltar", departamentos_path, class: "btn btn-back" %>

    <%= button_to "Excluir", @departamento, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
