<p class="notice"><%= notice %></p>

<div class="aluno-container">
  <%= render @departamento %>

  <div class="action-buttons">
  <%= link_to "Editar", edit_departamento_path(@departamento) %> |
  <%= link_to "Voltar", departamentos_path %>

  <%= button_to "Excluir", @departamento, method: :delete %>
</div>
</div>
