<%= form_with(model: aluno) do |form| %>
  <% if aluno.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aluno.errors.count, "error") %> prohibited this aluno from being saved:</h2>

      <ul>
        <% aluno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome_aluno, style: "display: block" %>
    <%= form.text_field :nome_aluno %>
  </div>

  <div>
    <%= form.label :tot_creditos, style: "display: block" %>
    <%= form.number_field :tot_creditos %>
  </div>

  <div>
    <%= form.label :departamento_id, style: "display: block" %>
    <%= form.text_field :departamento_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
