<p class="notice"><%= notice %></p>

<div class="aluno-container">
  <%= render @aluno %>

  <div class="action-buttons">
    <%= link_to "Editar", edit_aluno_path(@aluno), class: "btn btn-edit" %>
    <%= link_to "Voltar", alunos_path, class: "btn btn-back" %>

    <%= button_to "Excluir", @aluno, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
