<%= form_with(model: curso) do |form| %>
  <% if curso.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
        <% curso.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome_curso, style: "display: block" %>
    <%= form.text_field :nome_curso %>
  </div>

  <div>
    <%= form.label :creditos, style: "display: block" %>
    <%= form.number_field :creditos %>
  </div>

  <div>
    <%= form.label :departamento_id, style: "display: block" %>
    <%= form.text_field :departamento_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
