<p style="color: green"><%= notice %></p>

<%= render @curso %>

<div class="action-buttons">
  <%= link_to "Editar curso", edit_curso_path(@curso), class: "btn btn-edit" %> |
  <%= link_to "Voltar", cursos_path, class: "btn btn-back" %>

  <%= button_to "Excluir esse curso", @curso, method: :delete, class: "btn btn-danger"  %>
</div>
