<p class="notice"><%= notice %></p>

<div class="aluno-container">
  <%= render @pre_requisito %>

  <div class="action-buttons">
    <%= link_to "Editar", edit_pre_requisito_path(@pre_requisito), class: "btn btn-edit" %>
    <%= link_to "Voltar", pre_requisitos_path, class: "btn btn-back" %>

    <%= button_to "Excluir", @pre_requisito, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
