<p class="notice"><%= notice %></p>

<div class="aluno-container">
  <%= render @predio %>

  <div class="action-buttons">
    <%= link_to "Editar", edit_predio_path(@predio), class: "btn btn-edit" %>
    <%= link_to "Voltar", predios_path, class: "btn btn-back" %>

    <%= button_to "Excluir", @predio, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
