<p style="color: green"><%= notice %></p>

<% content_for :title, "Instrutores" %>

<h1>Instrutores</h1>

<span class="menu-icon" onclick="toggleMenu()">☰</span>

<div id="sidebar">
  <a href="javascript:void(0)" class="close-btn" onclick="toggleMenu()">✖</a>
  <a href="/universidades">Início</a>
  <a href="/alunos">Alunos</a>
  <a href="/cursos">Cursos</a>
  <a href="/departamentos">Departamentos</a>
  <a href="/instrutors">Instrutores</a>
  <a href="/ministras">Ministras</a>
  <a href="/mentorias">Mentorias</a>
  <a href="/periodos">Períodos</a>
  <a href="/predios">Prédios</a>
  <a href="/pre_requisitos">Pré-Requisitos</a>
  <a href="/salas">Salas</a>
  <a href="/secaos">Seções</a>
</div>

<div id="instrutors">
  <table>
    <thead>
      <tr>
        <th>Nome do Instrutor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @instrutors.each do |instrutor| %>
        <tr>
          <td class="nome-instrutor"><%= instrutor.nome_instrutor %></td>
          <td>
            <button onclick="showOptions(<%= instrutor.id %>)">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                <path d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"/>
              </svg>
            </button>
            <div id="options-menu-<%= instrutor.id %>" class="options-menu" style="display: none;">
              <button onclick="viewDetails(<%= instrutor.id %>)">Visualizar</button>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Novo instrutor", new_instrutor_path, id: 'new-universidade-btn' %>

<script>
    function toggleMenu() {
        var sidebar = document.getElementById("sidebar");
        if (sidebar.style.width === "250px") {
            sidebar.style.width = "0";
        } else {
            sidebar.style.width = "250px";
        }
    }

    function showOptions(instrutorId) {
        var optionsMenu = document.getElementById("options-menu-" + instrutorId);
        optionsMenu.style.display = optionsMenu.style.display === "block" ? "none" : "block";
    }

    function viewDetails(instrutorId) {
        window.location.href = "/instrutors/" + instrutorId;
    }
</script>
