<p class="notice"><%= notice %></p>

<div class="aluno-container">
  <%= render @instrutor %>

  <div>
    <%= link_to "Editar", edit_instrutor_path(@instrutor) , class: "btn btn-edit" %> |
    <%= link_to "Voltar", instrutors_path, class: "btn btn-back" %>

    <%= button_to "Excluir", @instrutor, method: :delete, class: "btn btn-danger" %>
  </div>
  </div>
</div>
