<p style="color: green"><%= notice %></p>

<%= render @sala %>

<div>
  <%= link_to "Edit this sala", edit_sala_path(@sala) %> |
  <%= link_to "Back to salas", salas_path %>

  <%= button_to "Destroy this sala", @sala, method: :delete %>
</div>
